# Django Environment Variables Example
DEBUG=False
SECRET_KEY=change-me-in-production
DATABASE_URL=postgresql://django_user:password@django-db:5432/django_db
REDIS_URL=redis://redis:6379
API_BASE_URL=http://api:5544
ALLOWED_HOSTS=34.136.15.241,localhost,127.0.0.1
